
.skipToContent{
    background-color: white;
    color: rgb(212, 7, 7);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    top: 0;
    left: 0;
}
.skipToContent:focus{
    position: static;
    width: auto;
    height: auto;
}