
footer{
   width: 100%;
}
footer h2,footer span,footer a {
    color: black;
}
.samarbeidspartnere{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    gap: 2rem;
}
.samarbeidspartnere img{
    max-width: 80%;
}
.samarbeidspartnere div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.samarbeidspartnere >h2{
    color: white;
    text-align: center;
}

.kontakt div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kontakt{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
    gap: 1rem;
}
