

#innledning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#innledning >* {
    line-height: 1.4rem;
    text-align: center;
}



.joinTheTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.joinTheTeam p{
    text-align: center;
}

#jobbeHer{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
